.classContainer{
    padding: 100px 100px 200px 100px;
    .classes {
        img{
        height: 250px;
        width: 250px;
        .class{
            .content{
                width: 50%;
            }
            @media screen and (min-width: 720px) {
                flex-direction: column;
            }
        }

    }
}

}

