a{
    text-decoration: none;
    color: black;
    /* padding: .3em 1em; */
    /* border-radius: 20px; */
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 99;
    background-color: white;
    padding: .7em 1.5em;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
         padding: .3em 1em; 
     border-radius: 20px; 
}
.navbar .active{
    border-bottom: 1px solid var(--primary);
}
.adminNavbar{
    margin-left: 200px;
    padding: .7em 1.5em;
    border-bottom: 1px solid rgb(85, 85, 255);
    color: rgb(85, 85, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminNavbar a{
    color: rgb(85, 85, 255);
}
.fullNav{
    margin-left: 0;
}
.sidebar{
    position: fixed;
    top: 0;
    background-color: rgb(85, 85, 255);

    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.sidebar a{
    border-radius: 0;
    padding: 10px 10px;
    color: white;
}
.sidebar a:hover{
    background-color: rgb(41, 41, 122);
}
.sidebar .active{
    background-color: white;
    color: rgb(85, 85, 255);
}
.registerBtn{
    background-color: white;
    color: rgb(85, 85, 255);
}