.userContainer{
    margin-top: 70px;
    margin-bottom: 50px;
    // width: 100%;
   padding: 0 8%;
    h3{
        margin-bottom: 50px;
    }
    .newsContent{
        margin-top: 25px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}